.colorHeading{
    color:red;
    border:1px solid green;
    padding:5px;
    width:40%;
    background-color: yellow;
}

.colorHeading2{
    color:purple;
    border:4px solid green;
    padding:5px;
    width:40%;
    background-color: pink;
}
img{
    height:150px;
    width:150px;
    border-radius: 50%;
    border:1px solid navy;
}
.Profile{
    border:1px solid red;
    width:210px;
    text-align: center;
    padding: 2px;
    border-radius: 2%;
}
p{
    margin:0;
    padding:2px;
    /* font-weight: bold; */
}
.profileSection{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    
}
.chat{
    border: 1px solid green;
    width:250px;
    height:260px;
    padding:10px 7px;
}
.chatRight{
    text-align: right;
    border:1px solid green;
   margin:10px 0px 10px 40px;
}
.chatLeft{
    border:1px solid green;
    margin:5px 40px 10px 0px;
}
button{
    float:right;
    width: 27%;
    height: 32px;
   
}
.messageBtn{
    border:1px solid green;
}
input{
    width:68%;
    height: 25px;
}

.bgRed{
    background-color: red;;
}
.bgNavy{
    background-color: navy;
}
.bgPurple{
    background-color: purple;
}
.bgOrange{
    background-color: orange;
}
.bgImg2{
    background-color: orangered;
}
.styleChat{
    color:plum;
    background-color: blue;
}